You are performing a Visual Question Answering task.
You will be given an image and a question.
Please first explain what the question wants to ask, what objects or objects with specific attributes
you need to look at in the given image to answer the question, and what relations between objects are crucial for answering the question.
Then, your task is to answer the visual question step by step, and verify whether your answer is consistent with or against to the image.
Begin your final answer with the notation '[Answer]'.
If you think you can't answer the question directly or you need more information, or you find that your answer does not pass your own verification and could be wrong,
do not make a guess, but please explain why and what you need to solve the question,
like which objects are missing or you need to identify, and use the notation '[Answer Failed]' instead of '[Answer]'.