absl-py
accelerate
addict
aiofiles
aiohttp
aiosignal
aliyun-python-sdk-core
aliyun-python-sdk-kms
altair
annotated-types
anyio
asttokens
async-timeout
attrs
backcall
cachetools
certifi
cffi
charset-normalizer
chumpy
click
colorama
coloredlogs
comm
contourpy
crcmod
cryptography
cycler
Cython
debugpy
decorator
defusedxml
diffusers
distro
einops
exceptiongroup
executing
fairscale
fastapi
ffmpy
filelock
fire
flatbuffers
fonttools
frozenlist
fsspec
ftfy
google-auth
google-auth-oauthlib
gradio
gradio_client
grpcio
h11
httpcore
httpx
huggingface-hub
humanfriendly
idna
imageio
imgaug
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
Jinja2
jmespath
json-tricks
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lazy_loader
lightning-utilities
linkify-it-py
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mmcv-full
mmpose
model-index
mpmath
multidict
munkres
nest-asyncio
networkx
numpy #1.21.2 -> 1.26.4
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
onnx
onnxruntime
openai
opencv-python
opencv-python-headless
opendatalab
openmim
openxlab
ordered-set
orjson
oss2
packaging
pandas
parso
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycocoevalcap
pycocotools
pycparser
pycryptodome
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pytorch-lightning
pytz
PyWavelets
PyYAML
pyzmq
referencing
regex
requests #2.31.0 -> 2.28.2
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-image
scipy
semantic-version
shapely
six
sniffio
stack-data
starlette
supervision
sympy
tabulate
tensorboard
tensorboard-data-server
termcolor
tifffile
timm
tiktoken
tokenizers
tomli
toolz
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
triton
typing_extensions
tzdata
uc-micro-py
urllib3
uvicorn
vllm
wcwidth
websockets
Werkzeug
xtcocotools
yapf
yarl
zipp
autogen-core
autogen-ext
autogen-ext[openai]
autogen-ext[web-surfer]
autogen-agentchat
flash-attn